.box{
  height: 100vh;
  position: relative;

  a{
    width: 100%;
    font-size: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    p{
      font-size: 16px;
      font-weight: 500;
      color: #000;
    }
  }

  &:hover{
    a{
      p{
        color: red;
      }
    }
  }
}
